/*
TO DO:
- Make sidebar open on large screens and collapsed on smaller screens
- 
*/ 
.scrolling-wrapper-flexbox {
    z-index: 1;
    display: flex;
    margin:0;
    padding-left: 7%;
    position:absolute;
    width:100%;
    height:94%;
    top:50%;
    padding-top: 1.7%;
    padding-bottom: 3%;
    transform:translate(0, -46%);

}
body {
    overflow-y:hidden;
}
#head {  /*can't center text for some reason?*/
    color: black;
    position: fixed;
    left: 50%;
    margin-left: -79.815px; /* To center the text: set "left: 50%" and set "margin-left" to negative width of #head element divided by 2 */
    top: 10px;
    font-size: 23px;
    font-weight: bold;
    z-index: 3;   
}
#header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
}
.scrolling-wrapper-flexbox img {
    max-height:90vh;
    height:auto;
    width:auto;
    display: block;
    padding-left: 10em;
}
.textbox {
    color: black;
    font-size: 15px;
    min-width: 50vw;
    padding-left: 10em;
    padding-top: 10%;
}
.textbox p {
    font-style: italic;
    
}
.sidebar {
    height: 100%;
    width: 205px;
    position: fixed;
    z-index: 4;
    background-color: white;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 9vh;
}

.sidebar a {
    padding: 0px 8px 0px 32px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    transition: 0.0s;
    padding-top: 5px;
}
a:link, a:active, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    font-weight:bold;
    color: black;
}

/* #head {visibility: hidden; top:0; font-size:0;} */
#hamburger{visibility: hidden; font-size:0; padding-top:0;}
.overlay {visibility: hidden;}

/* On smaller screens change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 800px) {
.sidebar {width: 190px;}
.sidebar a {font-size: 17px;}
}

@media screen and (max-width: 600px) {

.sidebar {visibility: hidden;}
.overlay {visibility: visible;}

.scrolling-wrapper-flexbox {
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    z-index: 1;
    padding-left:5%;
    padding-right:5%;
    align-items: flex-start;
}
.scrolling-wrapper-flexbox img {
    max-width: 100%;
    max-height: auto;
    padding-left: 0px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textbox {
    text-align: center;
    padding-left: 0;
}
body {
    overflow-y: visible;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255,255,255, 0.9);
    overflow-y: hidden;
}
.overlay-content {
    padding: 8px;
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}
.overlay a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
}
.overlay a:hover, .overlay a:focus {
    color: #000000;
}

.overlay .closebtn {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 30px;
    font-size: 2.5em;
}
#hamburger {
    visibility: visible;
    color: black;
    position: fixed;
    font-size: 1.5em;
    cursor: pointer;
    padding-top: 7px;
    top: 0px;
    left: 5%;
    z-index: 3;
}
}